<!--CITE: Anand Doshi, section-week-14-->
<!DOCTYPE html>
<html>
    <font face="Verdana">
    <head>
        <!--<meta charset="utf-8">-->
        <title>Google Scholar Comparator</title>
        <h1 align='center'>Google Scholar Comparator</h1>
    </head>
    <body>
        <header>
            <h3 align='center'>List up to five fields to compare, separated by commas</h3>
            <p align='center'>(e.g. Memristors, ebola virus, reduced order models, hepatocellular carcinoma, HIV):</p>
            <form align='center' method="POST">
                <input type="text" name="text">
                <input type="submit" value="Submit">
            </form>
        </header>
    </body>
    </font>
</html>
